<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
    <h1>Tabela opcji dostawy</h1>
    <div class="col-xs-12">
    <%= link_to "<span class='glyphicon glyphicon-plus'></span> Dodaj opcję dostawy"
        .html_safe, new_delivery_path, class: 'form-control btn btn-success',
        style: 'color: #fff' %>
  </div>
    <table class="table table-hover table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Nazwa</th>
          <th>Kwota</th>
        </tr>
      </thead>
      <tbody>
        <% @deliveries.each do |delivery| %>
        <tr>
          <th scope="row"><%= delivery.id %></th>
          <td><%= delivery.name %></td>
          <td><%= number_to_currency(delivery.price, locale: :pl) %></td>
          <td><%= link_to link_to "<span class='glyphicon glyphicon-search'></span>"
                        .html_safe, delivery, class: 'btn btn-xs btn-success' %>
            <%= link_to link_to "<span class='glyphicon glyphicon-pencil'></span>"
                        .html_safe, edit_delivery_path(delivery), class: 'btn btn-xs btn-default' %>
            <%= link_to "<span class='glyphicon glyphicon-trash'></span>"
                        .html_safe, delivery, method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

