<div class="row order-summary" style="margin-left: 10px;">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
    <h2 class="text-center">Podsumowanie zamówienia nr <%= @order.id %></h2>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Imię i nazwisko</th>
            <th>Adres dostawy</th>
            <th>Adres e-mail</th>
            <th>Sposób zapłaty</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <th scope="row"><h4><strong><%= @order.name %></strong></h4></th>
            <td><h4><strong><%= @order.address %></strong></h4></td>
            <td><h4><strong><%= @order.email %></strong></h4></td>
            <td><h4><strong><%= @order.pay_type %></strong></h4></td>
          </tr>
        </tbody>
      </table>
      </div>
     
      
      <div class="col-xs-12 items well text-center">
        <h3 class="text-center" style="margin-top: 10px;"><strong>Zakupione produkty</strong></h3>
        <table class="table table-hover table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Produkt</th>
              <th>Ilość</th>
              <th>Cena jednostkowa</th>
              <th>Kwota do zapłaty</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% @order.line_items.each do |item| %>
            <tr>
              <th scope="row"><%= link_to item.product.title, product_path(item.product_id) %></th>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.product.price, locale: :pl) %></td>
              <td><%= number_to_currency(item.total_price, locale: :pl) %></td>
            </tr>
            <% end %>
            <tr class="order-sum">
              <th colspan = "2"></td>
              <th style="float: right;"><h4>Suma:</h4></th>
              <td style="border-top: 2px solid red;"><h4><strong><%= number_to_currency(@order.total_price, locale: :pl) %></strong></h4></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
