<div class="row order-summary" style="margin-left: 10px;">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
    <h2 class="text-center">Podsumowanie zamówienia nr <%= @order.id %></h2>
    
    <% if @order.user %>
      <h2 class="text-center"><%= @order.user.email %></h2>
    <% end %>
    
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover table-bordered table-striped">
        <tbody class="text-center">
          <tr>
            <th scope="row"><strong>Imię i nazwisko</strong></th>
            <td><strong><%= @order.name %></strong></td>
          </tr>
          <tr>
            <th scope="row"><strong>Adres</strong></th>
            <td>
              <strong><%= @order.address %>,
              <p><%= @order.postal_code %> <%= @order.city %></p></strong>
            </td>
          </tr>
          <tr>
            <th scope="row"><strong>E-mail</strong></th>
            <td><strong><%= @order.email %></strong></td>
          </tr>
          <tr>
            <th scope="row"><strong>Nr telefonu</strong></th>
            <td><strong><%= @order.phone_number %></strong></td>
          </tr>
          <tr>
            <th scope="row"><strong>Sposób zapłaty</strong></th>
            <td><strong><%= @order.pay_type %></strong></td>
          </tr>
        </tbody>
      </table>
      </div>
      
      <div class="col-xs-12 items well text-center">
        <h3 class="text-center" style="margin-top: 10px;">
          <strong>Zakupione produkty</strong>
        </h3>
        <table class="table table-hover table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>Produkt</th>
              <th>Ilość</th>
              <th>Cena jednostkowa</th>
              <th>Kwota do zapłaty</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <% @order.line_items.each do |item| %>
            <tr>
              <th scope="row"><%= link_to item.product.title, product_path(item.product_id) %></th>
              <td><%= item.quantity %></td>
              <td><%= number_to_currency(item.product.price, locale: :pl) %></td>
              <td><%= number_to_currency(item.total_price, locale: :pl) %></td>
            </tr>
            <% end %>
            <tr>
              <td colspan="4" class="emptyrow" style="padding: 20px;"></td>
            </tr>
            <tr>
              <th>Sposób dostawy</th>
              <td><%= @delivery.name %></td>
              <th>Koszt dostawy:</th>
              <td><%= number_to_currency(@delivery.price, locale: :pl) %></td>
            </tr>
            <tr class="order-sum">
              <td colspan = "2"></td>
              <th style="float: right;"><h4>Suma:</h4></th>
              <td style="border-top: 2px solid red;">
                <h4><strong><%= number_to_currency(@order.total_price, locale: :pl) %></strong></h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
<% end %>
