<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-lg-12">
    <p class="text-center" style="font-size: 30px;">
      <strong><%= @product.title %></strong>
    </p>
    <div class="row">
      <div class="col-xs-12 col-lg-6 avatar">
      <% if @product.avatar? %>
        <!--<strong>Avatar:</strong>-->
        <%= image_tag(@product.avatar) %>
      <% else %>
        <!--<strong>Image url:</strong>-->
        <%= image_tag(@product.image_url) %>
      <% end %>
      </div>
    
      <div class="col-xs-12 col-lg-6 description">
        <p>
          <strong>Opis produktu:</strong>
          <%= sanitize(@product.description) %>
        </p>
        <div class="col-xs-12">
          <%= render('carousel') %>
        </div>
      </div>
    </div>
    
    <div class="row text-center">
      <div class="col-xs-6">
        <p style="font-size: 2em; margin-top: 15px;">
          <strong>Cena:</strong>
          <%= number_to_currency(@product.price, locale: :pl) %>
        </p>
      </div>
      <div class="col-xs-6">
        <p style="color: <% if @product.quantity > 0 %> green <% else %> red <% end %>">
          Na magazynie: <%= @product.quantity %> szt.
        </p>
        <%= button_to 'Dodaj do Koszyka', line_items_path(product_id: @product),
                    remote: true, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
    
    <% if session[:user_id] %>
    <br>
      <div class="row">
        <div class="col-xs-6">
          <%= link_to "<span class='glyphicon glyphicon-pencil'></span>"
            .html_safe, edit_product_path(@product), class: 'btn btn-primary form-control' %>
        </div>
        <div class="col-xs-6">
          <%= link_to "<span class='glyphicon glyphicon-trash'></span>"
            .html_safe, @product, method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger form-control' %>
        </div>
      </div>
    <% end %>
  </div>
</div>