<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize(@product.description) %>
</p>

<p>
  <% if @product.avatar? %>
  <strong>Avatar:</strong>
    <%= image_tag(@product.avatar) %>
  <% else %>
  <strong>Image url:</strong>
    <%= image_tag(@product.image_url) %>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<% if session[:user_id] %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% end %>
