<p id="notice"><%= notice %></p>

<h1>Katalog produktów</h1>

<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="product", style="background-color: <%= cycle("#f3f3f3", "#fff") %>">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="thumbnail">
              <% if product.avatar? %>
                <%= image_tag(product.avatar) %>
              <% else %>
                <%= link_to(image_tag(product.image_url), product_path(id: product.id)) %>
              <% end %>
            </div>
            <div class="description">
              <h3><%= link_to product.title, product_path(id: product.id) %></h3>
              <%= sanitize(product.description) %>
              <div class="price_line">
                <span class="price"><%= number_to_currency(product.price, locale: :pl) %></span>
                <%= button_to 'Dodaj do Koszyka', line_items_path(product_id: product),
                remote: true, class: "btn btn-small btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>