<p id="notice"><%= notice %></p>

<h1 class="text-center" style="margin-top: 0">Katalog produktów</h1>

<div class="well well-sm">
  <strong>Układ:</strong>
  <div class="btn-group">
    <a href="#" id="list" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-th-list"></span>Lista
    </a> 
    <a href="#" id="grid" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-th"></span>Siatka
    </a>
  </div>
  <div class="search-products" style="float: right;">
    <%= form_tag(store_index_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Wyszukaj produkt" %>
      <%= submit_tag "Wyszukaj", :name => nil, class: "btn btn-default" %>
    <% end %>
  </div>

</div>

<div class="row">
  <% if @products.blank? %>
    <div class="container">
      <h4>Nie znaleziono produktów zawierających w nazwie: <%= params[:search] %>.</h4>
    </div>
  <% end %>
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <div class="products">
          <div class="col-xs-4 col-lg-4 columns">
            <div class="jedenprodukt text-center", style="background-color: <%= cycle("#f3f3f3", "#fff") %>">
              <div class="thumbnail">
                <% if product.avatar? %>
                  <%= link_to(image_tag(product.avatar), product_path(id: product.id)) %>
                <% else %>
                  <%= link_to(image_tag(product.image_url), product_path(id: product.id)) %>
                <% end %>
              </div>
              <div class="description">
                <div class="information">
                  <h3><%= link_to product.title, product_path(id: product.id) %></h3>
                  <%= sanitize(product.description) %>
                </div>
                <div class="row prodfooter">
                  <div class="price_line col-xs-12 col-md-6">
                    <span class="price"><strong><%= number_to_currency(product.price, locale: :pl) %></strong></span>
                    <p><%= product.quantity %> szt.</p>
                  </div>
                  <div class="add_to_basket col-xs-12 col-md-6 col-md-offset--1">
                    <% if product.quantity > 0 %>
                      <%= button_to 'Dodaj do Koszyka', line_items_path(product_id: product),
                      remote: true, class: "btn btn-sm btn-primary" %>
                    <% else %>
                      <%= button_to 'Produkt niedostępny', line_items_path(product_id: product),
                      class: "btn btn-sm btn-default disabled", disabled: true %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="col-xs-12">
    <%= will_paginate(@products, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-lg', style: 'float: right;') %>
  </div>
</div>