<p id="notice"><%= notice %></p>

<h1 class="text-center" style="margin-top: 0">Katalog produktów</h1>

<div class="well well-sm">
  <strong>Układ:</strong>
  <div class="btn-group">
    <a href="#" id="list" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-th-list"></span>Lista
    </a> 
    <a href="#" id="grid" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-th"></span>Siatka
    </a>
  </div>
  <div class="search-products">
    <%= form_tag(store_index_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Wyszukaj produkt" %>
      <%= submit_tag "Wyszukaj", :name => nil, class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= render 'store/smartphones' %>
</div>