<!DOCTYPE html>
<html>
  <head>
    <title>Smart GSM Online</title>
    <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
  </head>

  <body class="<%= controller.controller_name %>">
    <%= render 'layouts/header' %>
    <div class="container">
      <% if current_page?(:controller => 'store', :action => 'index') %>
      <div class="row">
        <%= render 'layouts/jumbotron' %>
      </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12 col-sm-3 sidebar well">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-xs-12 col-sm-9 main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>