<!DOCTYPE html>
<html>
  <head>
    <title>Smart GSM Online</title>
    <%= csrf_meta_tags %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
  </head>

  <body class="<%= controller.controller_name %>">
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 sidebar">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-xs-12 col-sm-9 main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>